.color__red__112xw { color: red; }
.color__blue__3sXGg { color: blue; }
.color__green__34QVA { color: green; }
.color__yellow__3Mn2y { color: yellow; }
.about__about__QYxjt { border: 12px solid red; }
