.color__red__112xw { color: red; }
.color__blue__3sXGg { color: blue; }
.color__green__34QVA { color: green; }
.color__yellow__3Mn2y { color: yellow; }
.utils__fl__1ASoL { float: left; }
.utils__fr__1FXns { float: right; }
.index__index__xoFki { font-size: 14px; }
